
  
  .paper-submission-container {
    text-align: left;
  }
  
  .submission-info {
    margin-top: 20px;
  }
  
  .submission-point {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .submission-link {
    margin-top: 20px;
  }
  
  .submission-link a {
    text-decoration: none;
    color: #007bff; 
  }
  