.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .registration-fees {
    text-align: center;
  }
  
  .main-card {
    display: flex;
  }
  
  .card {
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px; /* Add margin to separate cards */
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card h3 {
    margin-bottom: 10px;
  }
  
  .card p {
    margin: 0;
  }
  